.ship-page {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.ship-details {
    display: flex;
    padding-top: 20px;
}

.ship-image-card {
    margin-right: 50px;
}

.ship-image-card img {
    max-width: 400px;
    height: auto;
    display: block;
}

.ship-info {
    max-width: 400px;
}

.ship-info p {
    font-size: 20px;
    line-height: 1.5;
    margin: 5px 0;
}

.ship-info strong {
    font-weight: bold;
}

@media (max-width: 400px) {
    .ship-page {
        padding: 10px;
    }

    .ship-details {
        flex-direction: column;
        align-items: center;
    }

    .ship-image-card {
        max-width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .ship-image-card img {
        max-width: 100%;
    }

    .ship-info {
        max-width: 80%;
        padding: 10px;
    }

    .ship-info p {
        font-size: 16px;
    }

    .ship-info strong {
        font-size: 18px;
    }
}

.loading-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}
