.header {
    height: 100px;
    padding-inline-start: 220px;
    padding-inline-end: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }
  
  .header img {
    width: 60px;
    height: 60px;
  }
  
  .header-links {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header-links a,
  .header-links button {
    margin-left: 20px;
    text-decoration:  none;
    color: #000;
  }
  
  .header-links button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    margin-left: 15%;
    background-color: #000;
  }

  @media (max-width: 400px) {
    .header {
      height: 80px;
      padding-inline-start: 20px;
      padding-inline-end: 20px;
      justify-content: flex-start;
    }
  
    .header img {
      width: 50px;
      height: 50px;
    }
  
    .header-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header-links a,
    .header-links button {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .header::after {
      width: 90%;
      margin-left: 5%;
    }
  }

.button-exit {
  border: solid 1px #000 !important; 
  border-radius:  3px;
  color: #000 !important;
  background-color: #fff !important;
  width: 60px;
  height: 25px;
  font-size: 16px;
}
  