.ship-card-shippage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    padding: 10px;
}

.ship-card-shippage img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.ship-name {
    font-weight: bold;
    margin: 10px 0;
}

.ship-add-button button {
    margin-top: 10px !important;
    background-color: #b0b0b0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.ship-add-button button:hover {
    background-color: #999999;
    transform: scale(1.05);
}

.ship-add-button button:focus {
    outline: none;
}

.ship-add-button button:active {
    background-color: #7f7f7f;
    transform: scale(0.98);
}

